<div class="container">
    <table>
        <thead>
            <tr>
                <th>Pos</th>
                <th>Equipo</th>
                <th>PJ</th>
                <th>G</th>
                <th>E</th>
                <th>P</th>
                <th>GF</th>
                <th>GC</th>
                <th>DG</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            {{#each teams}}
            <tr>
                <td>{{this.position}}</td>
                <td>
                    <div>
                        <img src="{{this.imgUrl}}" alt="{{this.name}}">
                        <span>{{this.name}}</span>
                    </div>
                </td>
                <td>{{this.playedMatches}}</td>
                <td>{{this.wins}}</td>
                <td>{{this.draws}}</td>
                <td>{{this.loses}}</td>
                <td>{{this.goalsFor}}</td>
                <td>{{this.goalsAgainst}}</td>
                <td>{{this.goalDifference}}</td>
                <td>{{this.points}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>